@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.arrow {
    font-size: 24px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrow:nth-of-type(1) {
    left: 10px;    
}

.arrow:nth-of-type(2) {
    right: 1px;    
}

.arrow:hover {
    background-color: var(--color-accent);
}

.projectWrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
}

.projectCard {
    flex: 1 0 calc(33.333% - 10px);
    margin: 0 5px;
    max-width: calc(33.333% - 10px);
}




